.transfers-table-wrapper {
  flex: 15;
  padding: 0.4rem 1.6rem;
}

.transfers-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.6rem;

  thead tr th {
    padding-left: 1rem;
    font-weight: 600;
    font-size: 0.75rem;
    color: #2d3b4e80;
    text-align: left;
    height: 34px;
    background-color: #2d3b4e0a;

    &:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    &:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }

  tbody {
    .date-label td {
      font-weight: 600;
      font-size: 0.75rem;
      color: #2d3b4e80;
      padding: 0.2rem 0;
    }

    .data-row {
      height: 54px;

      td {
        padding: 0 1rem;
        vertical-align: middle;
        background-color: #ffffff;

        &:first-child {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
        }

        &:last-child {
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
        }
      }
    }
  }

  tfoot tr td {
    height: 40px;
  }
}
