@import "@styles/variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--cold-white);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100svh;

  .content {
    z-index: 0;
    padding: 4.2rem 0 0 5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  &.isMobile {
    .content {
      padding: 0;
    }
  }
}
