@import "@styles/variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;

  // DEBUG
  width: 1200px;
  height: 942px;
  border: 1px solid lightgray;

  .content {
    z-index: 0;
    padding-left: 81px;
  }
}
