:root {
  // GENERAL
  --unit: 1vmin;
  --font-family: "Museo Sans", sans-serif;
  --font-weight-regular: 500;
  --font-weight-bold: 700;

  // COLORS
  --bg-color: #f4f5f6;
  --sidebar-bg: #ffffff;
  --topbar-bg: #ffffff;
  --box-shadow: 0px 0px 8px rgba(45, 59, 78, 0.1);
  --border-color: #2d3b4e1a;
  --border-radius: 8px;
}
