:root {
  // GENERAL
  --unit: 1vmin;
  --font-family: "Museo Sans", sans-serif;
  --font-weight-regular: 500;
  --font-weight-bold: 700;

  // COLORS
  --white: #ffffff;
  --gray: #999;
  --light-gray: #ecedef;
  --cold-white: #f4f5f6;
  --cold-white-2: #f3f4f6;
  --cold-white-3: #f5f7fa;
  --dark-navy-blue: #2d3b4e1a;
  --dark-navy-blue-2: #2d3b4e0d;
  --dark-navy-blue-3: #19283e80;
  --dark-navy-blue-4: #2d3b4e;
  --dark-navy-blue-5: #2d3b4e14;
  --dark-navy-blue-6: #2d3b4e80;
  --dark-navy-blue-7: #2d3b4e7a;
  --dark-navy-blue-8: #2d3b4e66;
  --dark-navy-blue-9: #2d3b4e0a;
  --dark-navy-blue-shadow: 0px 0px 8px rgba(45, 59, 78, 0.1);
  --dark-navy-blue-shadow-2: 0px 1px 1px 0px #2d3b4e0f;
  --active-green: #50d8a5;
  --active-green-2: #42c594;
  --dark-active-green: #50d8a526;
  --bright-green: #48d9a4;
  --notification-yellow: #ffc149;
  --status-incity-purple: #736bff;
  --status-arrival-blue: #56a7fa;
  --status-departure-red: #f96381;
  --border-radius: 8px;
}
