.row-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  background-color: #f4f5f6;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
  }
}
