.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.buttonBack,
.buttonForward,
.buttonNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.buttonBack,
.buttonForward {
  svg {
    width: 24px;
    height: 24px;
  }
}

.buttonNumber {
  background-color: #fff;
  color: #333;
}

.numberContainer {
  display: flex;
  gap: 5px;
}
