.page-navigation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 0.8rem;

  .button-back,
  .button-forward,
  .button-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white);
  }

  .button-back,
  .button-forward {
    box-shadow: var(--dark-navy-blue-shadow-2);

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .number-container {
    display: flex;
    border-radius: 4px;
    overflow: hidden;

    .button-number {
      color: var(--dark-navy-blue-3);
      font-weight: 400;
      font-size: 0.9rem;
      border-radius: unset;

      &.selected {
        background-color: var(--dark-navy-blue-4);
        font-size: 0.9rem;
        color: var(--white);
        font-weight: 600;
      }
    }
  }
}
