.transfer-details-container {
  display: flex;
  background-color: var(--cold-white-2);
  height: 2.3rem;
  width: 18rem;
  border-radius: 18px;
  margin-top: 0.7rem;
  padding: 0 0.7rem;

  .isMobile & {
    margin-top: 2rem;
    width: 100%;
    border: 1px solid var(--dark-navy-blue-5);
    border-radius: 50px;
    background-color: unset;
    height: 3rem;
    padding: 0 1rem;
  }

  .item {
    display: flex;
    align-items: center;
    margin: 0 0.6rem;

    svg {
      width: 1.4rem;
    }

    .isMobile & {
      width: 3rem;
      margin: 0 0.2rem;

      svg {
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    .item-name {
      font-size: 0.7rem;
      font-weight: 600;
      color: var(--dark-navy-blue-6);
      margin-left: 0.6rem;
    }
  }
}
