.trasnfer-details-container {
  display: flex;
  background: #f3f4f6;
  height: 2.3rem;
  width: 18rem;
  border-radius: 18px;
  margin-top: 0.7rem;
  padding: 0 0.7rem;

  .item {
    display: flex;
    align-items: center;
    margin: 0 0.6rem;

    .item-name {
      font-size: 0.7rem;
      font-weight: 600;
      color: #2d3b4e80;
      margin-left: 0.6rem;
    }
  }
}
